button {
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 0px 0px;

}

span {
    width: 100px;
    height: 100px;
    display: inline-flex;
    margin: 10px;
    align-items: center;
    justify-content: center;
}